<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>BookShop</title>
    </style>
</head>
<body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">BookShop</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </header>

    <main>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 g-1">

                    <div class="col" th:each="element : ${map}">
                        <div class="card shadow-sm" th:each="prod : ${element.value}">
                            <div class="row">
                                <div class="col-2 mt-4 ms-3">
                                    <div th:if="${prod.hotProduct} == true">
                                        <img class="position-absolute" src="img/Hot.png">
                                    </div>
                                    <div th:if="${prod.newProduct} == true">
                                        <img class="position-absolute" src="img/New.png">
                                    </div>
                                    <div>
                                        <img class="img-fluid" th:src="@{'/img/'} + ${prod.image}" width="220">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <p class="card-text" th:text="${prod.description}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Купить
                                                </button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary">В корзину
                                                </button>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <strong>&#8381;<span th:text="${prod.price}"></span></strong>
                                                </div>
                                                <div class="col text-decoration-line-through fst-italic"
                                                     th:if="${prod.oldPrice} != null">₽
                                                    <span th:text="${prod.oldPrice}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </main>

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
                    href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </footer>
</div>


</body>
</html>